:root {
    --white: #F2F2F2;
    --accent: #dca530;
    --hover: #fcc650;
    --dark: #181413;
    --pop: #684551;
}

/* Universal Styles */

body {
    background-color: var(--white);
    font: 1rem/1.5 "Lato", Arial, sans-serif;
}

/* Utility Classes */

.inner-container {
    max-width: 1024px;
    margin: auto;
}

.sr-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    line-height: 2rem;
}

.nav-menu {
    display: flex;
}

/* Typography */

h1 {
    font-family: 'Hurricane', cursive;
    color: var(--white);
    font-size: 3rem;
}

p {
    color: var(--white);
    font-size: 1rem;
}

.hero h2 {
    font-size: 4rem;
    color: var(--white);
    font-weight: 100;
}

.hero .inner-container p {
    font-weight: 700;
    font-size: 1.25rem;
}

h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--accent);
    font-weight: 300;
}


/* Header */

header {
    background-color: var(--pop);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 1rem;
}

.logo p {
    text-transform: uppercase;
}

.menu-icon {
    display: flex;
}

svg {
    max-width: 2rem;
}

nav {
    width: 100%;
}

.buttons {
    display: flex;
    width: 15rem;
}

button {
    width: 100%;
    background-color: transparent;
    border: 0;
    color: var(--white);
}

button:first-child {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 3px;
    color: var(--dark);
}

button:first-child:hover {
    background-color: var(--hover);
    color: var(--dark);
    border: 1px solid var(--hover);
    border-radius: 3px;
}


/* Hero Banner */

section.hero {
    background: url('../img/hero.webp') center / cover no-repeat;
}

.hero .inner-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100vh;
    justify-content: center;
}

.hero h2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 3.5rem;
}

.hero h2 span {
    padding-right: 5rem;
    padding-left: 3rem;
}

.hero p {
    padding-right: 5rem;
    padding-left: 1rem;
}

.hero a {
    background-color: var(--accent);
    width: 10rem;
    align-self: center;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    color: var(--dark);
}

.hero a:hover {
    background-color: var(--hover);
}


/* Parallax */

section.parallax {
    background: url('../img/splash-mobile.webp') center / cover no-repeat fixed;   
}

.code-snippet {
    position: relative;
    z-index: 1;
}

.code-snippet::before,
.code-snippet::after {
    background-color: var(--accent);
    content: "";
    display: block;
    height: 1.5rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
}

.code-snippet::before {
    filter: brightness(85%);
}

.code-snippet::after {
    filter: brightness(105%);
}

.parallax .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0 1rem 0 45%;
}

.parallax h2 {
    font-weight: 300;
}


.parallax p {
    color: var(--dark)
}

/* Horizontal Scroll */

.horizontal-scroll {
    padding: 3rem 0 1rem 0;
}

.horizontal-scroll h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 3rem;
    padding: 2rem 0;
}

.card {
    background-color: #fff;
    box-shadow: 3px 3px 3px #eee;
    flex: 0 0 90%;
    margin: 2rem 1rem;
    position: relative;
    padding: 1rem;
}

.card-body {
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.card-body h2 {
    font-size: 2.25rem;
    padding: 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    text-transform: lowercase;
}

.card-body p {
    color: var(--dark);
}

.category {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 0.25rem;
}

.description {
    text-align: left;
}

.scroll-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5rem;
    overflow-x: scroll;
}

.card img {
    border-radius: 0.2rem 0.2rem 0 0;
}

.card button {
    background-color: var(--accent);
    color: var(--dark);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
}

.card button:hover {
    background-color: var(--hover);
}

/* This is for webkit browsers only */
.scroll-wrapper::-webkit-scrollbar {
    background-color: #eee;
    width: 0.5rem;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: var(--accent);
}

/* As of 2022, this is for Firefox only */

.scroll-wrapper {
    scrollbar-color: var(--accent) transparent;
    scrollbar-width: thin;
}

/* Footer */

footer {
    background-color: var(--pop);
    padding: 2rem;
}

.sign-up {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sign-up h3 {
    color: var(--white)
}

.signup-form {
    display: flex;
    max-width: 100%;
    margin: 1rem 0;
}

.signup-form input {
    flex: 1 1 100%;
    padding: 0.5rem;
    border: 1px solid var(--accent);
}

.signup-form button {
    flex: 0 0 25%;
    background-color: var(--accent);
    color: var(--dark);
    border: 0;
}

.signup-form button:hover {
    background-color: var(--hover);
}

.nav-links {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.column ul {
    padding: 0;
    line-height: 2rem;
}

.nav-links ul li a {
    color: var(--white);
    text-decoration: none;
}

.disclaimer {
    text-align: center;
    padding: 2rem 0;
}


/* Media Queries */

@media screen and (min-width: 50rem) {

    .inner-container {
        max-width: 50rem;
    }

    .hero {
        text-align: center;
    }
    
    .hero .inner-container {
        width: 60vw;
    }

    .hero h2 span {
        padding: 0;
        margin-right: -5rem;
    }
    
    .hero p {
        padding: 0;
        text-align: left;
        max-width: 30rem;
        align-self: center;
    }

    .hero .inner-container p {
        font-weight: 300;
    }

    .parallax .inner-container {
        padding: 10rem 10rem 10rem 5rem;
    }

    .code-snippet::before,
    .code-snippet::after {
        visibility: hidden;
    }

    .card {
        flex: 0 0 20%;
    }

    .sign-up {
        flex-direction: row;
        margin: 0 auto;
        gap: 3rem;
    }

    .nav-links {
        padding: 2rem 0;
        flex-direction: row;
        justify-content: space-between;
        max-width: 50rem;
        margin: 0 auto;
    }
    
    .nav-links ul li a {
        color: var(--white);
        text-decoration: none;
    }

    .column ul {
        padding: 0;
        line-height: 2rem;
    }
    
    .disclaimer {
        text-align: center;
        padding: 2rem 0;
        max-width: 60rem;
        margin: 0 auto;
    }
}